### NoteBook Contents :
        > 1. Loading the Preprocessed, transformed & Scaled Test Data
        > 2. Loading saved Model
        > 3. Prediction on test set

#### Importing Essential Data handling libraries

In [1]:
import pandas as pd
import numpy as np

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

%matplotlib inline

import time
from math import floor
from time import perf_counter
from tqdm import tqdm

pd.set_option('display.max_columns', 100)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [11]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [3]:
from sklearn.ensemble import RandomForestClassifier
import joblib

### 1. Loading the Preprocessed, transformed & Scaled Test Data

In [5]:
test_df = pd.read_csv("..\\1_Modeling_Data_After_Transformations_TestTrainSplits\\Testing_data_std.csv") ## looking for dataset up one directory

In [6]:
test_df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,-0.904,-1.233,1.443,2.764,2.112,-0.468,-0.398,-0.383,-0.339,-0.309,-0.317,-0.075,-0.110,-0.080,-0.472,-0.397,-0.403,-0.223,-0.170,-0.267,0.010,-0.273,-0.254,1
1,-1.214,0.811,0.182,0.847,-1.462,-0.468,-0.398,-0.383,-0.339,-0.309,-0.317,-0.687,-0.570,-0.538,-0.526,-0.516,-0.492,0.263,-0.197,-0.269,-0.284,-0.207,-0.275,0
2,-0.131,0.811,1.443,-1.070,1.354,-0.468,-0.398,-0.383,-0.339,-0.309,-0.317,-0.564,-0.693,-0.657,-0.652,-0.612,-0.635,-0.341,-0.190,-0.214,-0.108,-0.237,-0.264,0
3,-1.136,-1.233,0.182,0.847,-1.354,-0.468,-0.398,-0.383,-0.339,-0.309,-0.317,-0.438,-0.412,-0.417,-0.378,-0.378,-0.354,-0.263,-0.189,-0.219,-0.260,-0.259,-0.236,1
4,0.100,0.811,-1.080,0.847,-0.704,-0.468,-0.398,-0.383,-0.339,-0.309,-0.317,-0.211,-0.372,-0.501,-0.526,-0.497,-0.654,-0.237,-0.197,-0.207,-0.084,-0.311,-0.292,0

In [7]:
target = "default payment next month"

In [8]:
X_test = test_df.drop(target, axis = 1).values
y_test = test_df[target].values

###  2. Loading saved Model

In [9]:
model_path = '..\\3_Saved_Models\\Random_Forest_Model_standard_scaled_data_v1.sav'
model = joblib.load(model_path)

### 3. Prediction on test set and compute Accuracy score

In [10]:
y_pred = model.predict(X_test)

In [13]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.84      0.95      0.89      4672
           1       0.69      0.37      0.48      1328

    accuracy                           0.82      6000
   macro avg       0.77      0.66      0.69      6000
weighted avg       0.81      0.82      0.80      6000

In [14]:
print(confusion_matrix(y_test, y_pred))

[[4456  216]
 [ 843  485]]